language: csharp
install:
  - curl -L https://github.com/jonathanvdc/Flame/releases/download/v0.8.3/dsc.zip > dsc.zip
  - unzip dsc.zip -d bin_dsc
script:
  # Compile compare-test
  - mono bin_dsc/dsc.exe src/compare-test.dsproj -O3 -o src/bin/compare-test.exe
  # Run the tests sequentially
  - mono src/bin/compare-test.exe test/all.test
  # Run the tests concurrently
  - mono src/bin/compare-test.exe test/all.test -j
